<p>
  Welcome to bug bounty hunter.  Please read the following rules of conduct:
</p>
<ul>
  <li>Be respectful</li>
  <li>Post lots of bugs</li>
  <li>See if your bug has already been answered before posting</li>
  <li>
    Your name will be hidden to other students but not to the instructors,
    so do not refrain from posting bugs because you worry others will somehow
    think less of you for posting it, because they wouldn't, especially since
    nobody can see who posted bugs.
  </li>
</ul>
