.reg {
  // border: 1px solid #333;
  border-radius: var(--border-radius);
  // padding: 6rem 10rem;
  // box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
  // position: relative;
  // background-color: lightgrey;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__img {
    margin-top: 2rem;
    display: inline-block;
    // border: 1px solid green;
  }
   &__form-container {
    //  height: 100%;
     width: 50%;
     position: relative;
   }
}

.form {
  color: var(--color-dark);
  display: inline-block;
  letter-spacing: 1px;
  // border: 1px solid red;
  transform: translate(-50%, -50%);
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;

  &:hover {
    cursor: default;
  }

  &__title {
    font-size: 3rem;
    // margin-bottom: var(--margin-bottom);
  }
  
  &__row {
  }

  &__label {
    display: block;
    margin-right: 1rem;
  }

  &__input {
    border-style: groove;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding: 1rem;
    font-size: 2.5rem;

    &.ng-dirty {
      border-color: var(--color-blue);
      background-color: var(--color-blue);
      color: var(--color-white);
    }

    &:focus {
      outline: none;
    }
  }
  &__error {
    color: var(--color-red);
  }

  &__link {
    display: block;
  }

}
