<section class="bug-view">
  <h2 class="bug-view__title">{{ bug.error }}</h2>
  <p style="white-space: pre-line; font-size: 75%;" class="bug-view__traceback">
    {{bug.traceback}}
  </p>
</section>
<hr>

<form 
  (submit)="onSubmitAnswer()" 
  class="form">

  <input 
    type="hidden" 
    [(ngModel)]="newAnswer.posted_by" 
    name="newAnswer.posted_by">

  <input 
    type="hidden" 
    [(ngModel)]="newAnswer.bug_id" 
    name="newAnswer.bug_id">

  <div class="form__row">
    <label for="content" class="form__label">Add Answer</label>
  </div>
  <div class="form__row">
    <textarea 
      [(ngModel)]="newAnswer.answer_content"
      #traceback="ngModel"
      name="newAnswer.answer_content"
      type="text" 
      class="form__input" 
      id="content"></textarea>
  </div>
  <button class="btn">Submit Answer</button>
</form>

{{ newAnswer | json }}
<hr>
<div class="answers">
  <div *ngFor="let answer of answers" class="answers__row">
    {{ answer.answer_content }} | 
    {{ answer.answered_by }} | 
    {{ answer.answer_created | date:'short'}}
  </div>
</div>