*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin-top: 18rem;
  // position: relative;
}

button::-moz-focus-inner {
  border: 0;
}

