*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin-top: 12rem;
  // position: relative;
}

button::-moz-focus-inner {
  border: 0;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.ql-toolbar {
  background-color: $color-white;
  border-radius: 5px 5px 0 0;
  border-style: hidden;
}

.ql-editor {
  height: 20rem;
  background-color: $color-white;

}

.ql-container {
  border-radius: 0 0 5px 5px;
  border-style: hidden;
}