.u-header {

  &--primary {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: $margin-bottom;
  }
  &--secondary {
    text-align: center;
    font-size: 3rem;
    margin-bottom: $margin-bottom;
  }
}

.u-rotate90 {
  animation: rotate90;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.u-divider {
  border-top: 1px solid $color-dark-grey;
  border-bottom: 1px solid $color-dark-grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: $margin-bottom;
}

.u-spacer {
  margin-top: 2rem;
}

.u-margin-right {
  margin-right: 2rem;
}

.u-loader {
    @include absoluteCenter;
    width: 15rem;
    height: 15rem;
    border: 1.6rem solid;
    border-color: silver #15B3E1 silver #16CF97; 
    background-color: #ecf0f1;
    border-radius: 50%;

    animation: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
}

.u-color-grey {
  color: $color-light-grey !important;
}

.u-color-white {
  border-color: rgba($color-white, .3) !important;
}

.u-red-bg {
  background-color: $color-red !important;
}
.u-close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  fill: $color-white;

  &:hover {
    fill: $color-red;
    cursor: pointer;
  }
}

.u-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: $color-white;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0px;

  &:hover {
    color: $color-red;
    cursor: pointer;
  }
}

.u-splash {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color-black, .9);
  z-index: 800;
}

.u-italic {
  font-style: italic;
}

.u-small {
  font-size: 1.5rem;
}