.u-header {

  &--primary {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: $margin-bottom;
  }
  &--secondary {
    text-align: center;
    font-size: 3rem;
    margin-bottom: $margin-bottom;
  }
}

.u-rotate90 {
  animation: rotate90;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.u-divider {
  border-top: 1px solid $color-dark-grey;
  border-bottom: 1px solid $color-dark-grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: $margin-bottom;
}

.u-spacer {
  margin-top: 2rem;
}

.u-margin-right {
  margin-right: 2rem;
}

.u-loader {
    @include absoluteCenter;
    width: 15rem;
    height: 15rem;
    border: 1.6rem solid;
    border-color: silver #15B3E1 silver #16CF97; 
    background-color: #ecf0f1;
    border-radius: 50%;

    animation: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
}

.u-color-grey {
  color: $color-light-grey !important;
}

.u-red-bg {
  background-color: $color-red !important;
}