<section class="reg">
  <img src="assets/img/fettprofile2.jpg" alt="balls" class="reg__img">
  <div class="reg__form-container">

    <form 
      [formGroup]="emailForm"
      (ngSubmit)="onEmail()"
      *ngIf="showEmailField"
      class="form">
      <h4 class="form__title">Enter Your Email</h4>
      <div class="form__row">
        <input 
          formControlName="email"
          type="email" 
          class="form__input email" 
          required
          id="email_field">
      </div>
      <div *ngIf="Email.touched && Email.invalid" class="form__error">
        <div *ngIf="Email.errors.required">Email is required.</div>
        <div *ngIf="Email.errors.email">Email must be valid.</div>
      </div>
      <button class="btn">Next</button>
    </form>

    <form 
      *ngIf="isRegistered && showPasswordField"
      (submit)="onPassword()" 
      class="form">
      <input type="hidden" [value]="user.email" name="user.email">
      <h4 class="form__title">Welcome Back {{user.first_name}}</h4>
      <div class="form__row">
        <label for="password" class="form__label hide">Password</label>
        <input 
          [(ngModel)]="user.password"
          #password="ngModel"
          name="password"
          type="password" 
          class="form__input" 
          required
          id="password">
      </div>
      <div *ngIf="password.touched && !password.valid" class="form__error">Password is required.</div>
      <button class="btn">Login</button>
      <a class="form__link" href="/">Not {{user.first_name}} {{user.last_name}}?</a>
    </form>

    <form 
      [formGroup]="newUserForm"
      *ngIf="!isRegistered && showPasswordField"
      class="form">
      <input type="hidden" [value]="user.email" name="user.email">
      <h4 class="form__title">Register</h4>
      <div class="form__row">
        <label for="first_name" class="form__label">First Name</label>
        <input 
          formControlName="first_name"
          type="text" 
          class="form__input" 
          id="first_name">
      </div>
      <div *ngIf="FirstName.touched && FirstName.invalid" class="form__error">
        <div *ngIf="FirstName.errors.required">First name is required.</div>
        <div *ngIf="FirstName.errors.minlength">Name must be at least {{ FirstName.errors.minlength.requiredLength }} characters.</div>
        <div *ngIf="FirstName.errors.cannotContainSpace">Names cannot contain spaces</div>
      </div>
      <div class="form__row">
        <label for="last_name" class="form__label">Last Name</label>
        <input 
          formControlName="last_name"
          type="text" 
          class="form__input" 
          id="last_name">
      </div>
      <div class="form__row">
        <label for="password" class="form__label">Password</label>
        <input 
          formControlName="password"
          type="password" 
          class="form__input" 
          id="password">
      </div>
      <div class="form__row">
        <label for="confirm" class="form__label">Confirm</label>
        <input 

          type="password" 
          class="form__input" 
          id="confirm">
      </div>
      <button class="btn">Register</button>
      <a class="form__link" href="/">Already registered? Click here.</a>
    </form>

  </div>
</section>