<section class="bug-view">
  <div class="bug-view__row">
    <div class="bug-view__row--cluster">
      <svg *ngIf="isFavorite" (click)="dislikeBug()" class="bug-view__icon--liked">
        <use xlink:href="assets/img/icons/sprite.svg#icon-heart"></use>
      </svg>
      <svg *ngIf="!isFavorite" (click)="likeBug()" class="bug-view__icon--unliked">
        <use xlink:href="assets/img/icons/sprite.svg#icon-heart-o"></use>
      </svg>
      <h2 class="bug-view__error">{{ bug.error }}</h2>
    </div>
    <div class="bug-view__row--col">
      <h5 class="bug-view__created"> 
        <span class="u-color-grey">posted</span>
        {{ bug.bug_created | timeAgo }}
      </h5>
      
      <h5 class="bug-view__created"> 
        <span class="u-color-grey">by</span>
        {{ bug.posted_name }}
      </h5>
    </div>
  </div>
  <div 
    [innerHtml]="bug.traceback"
    class="bug-view__traceback">
  </div>
  <div 
    [innerHtml]="bug.message"
    class="bug-view__message">
  </div>
</section>
<div class="u-divider">
<div class="bug-view__controls">
  <div 
    class="bug-create__btn--toggle u-margin-right" 
    [class.u-red-bg]="showAnswerForm"
    (click)="toggleForm()">
    <p *ngIf="!showAnswerForm">Add Answer</p>
    <p *ngIf="showAnswerForm">Cancel</p>
    <svg 
      class="bug-create__icon" 
      [class.u-rotate90]="showAnswerForm">
      <use xlink:href="assets/img/icons/sprite.svg#icon-chevron-right"></use>
    </svg>
  </div>
  <div 
    *ngIf="user.user_id == bug.posted_by"
    class="bug-create__btn--toggle" 
    [class.u-red-bg]="showEditBugForm"
    (click)="toggleEdit()">
    <p *ngIf="!showEditBugForm">Edit Bug</p>
    <p *ngIf="showEditBugForm">Cancel</p>
    <svg class="bug-create__icon" [class.u-rotate90]="showEditBugForm">
      <use xlink:href="assets/img/icons/sprite.svg#icon-chevron-right"></use>
    </svg>
  </div>
</div>

<div class="u-spacer"></div>
<div *ngIf="showEditBugForm" class="row">
  <div class="bug-create col-2-of-4">
    <form 
      (submit)="onSubmitBugEdit()" 
      class="bug-create__form">
      <input 
        type="hidden" 
        [(ngModel)]="bug.posted_by" 
        name="bug.posted_by">
      <div class="bug-create__form--row">
        <label for="title" class="bug-create__form--label">Error</label>
      </div>
      <div class="bug-create__form--row">
        <input 
          [(ngModel)]="editBug.error"
          #title="ngModel"
          name="editBug.error"
          placeholder="Define error here ..."
          type="text" 
          class="bug-create__form--input" 
          id="title">
      </div>
      <div 
        *ngIf="editFormErrors.ErrorField" 
        class="reg__form--error">
        {{ editFormErrors.ErrorField }}
      </div>
      <div class="u-spacer"></div>
      <div class="bug-create__form--row">
        <label for="traceback" class="bug-create__form--label">Stack Trace</label>
      </div>
      <div class="bug-create__form--row">
          <quill-editor 
            [(ngModel)]="editBug.traceback"
            #traceback="ngModel"
            name="editBug.traceback"
            type="text" 
            [style]="{ 'border-radius': '5px', 'height': '20rem' }"
            id="traceback">
            <div quill-editor-toolbar>
              <span class="ql-formats">
                <button class="ql-code-block" [title]="'Code Block'"></button>
              </span>
            </div>
          </quill-editor>
      </div>
      <div *ngIf="editFormErrors.TracebackField" class="reg__form--error">
        {{ editFormErrors.TracebackField }}
      </div>
      <div class="u-spacer"></div>
      <div class="bug-create__form--row">
        <label for="message" class="bug-create__form--label">Comments</label>
      </div>
      <div class="bug-create__form--row">
          <quill-editor 
            [(ngModel)]="editBug.message"
            #message="ngModel"
            name="editBug.message"
            type="text" 
            [style]="{ 'border-radius': '5px', 'height': '20rem' }"
            id="traceback">
            <div quill-editor-toolbar>
              <span class="ql-formats">
                <button class="ql-code-block" [title]="'Code Block'"></button>
              </span>
            </div>
          </quill-editor>
      </div>
      <div *ngIf="editFormErrors.MessageField" class="reg__form--error">
        {{ editFormErrors.MessageField }}
      </div>
      <div class="u-spacer"></div>
      <button class="bug-create__btn">Save Bug Data</button>
    </form>
  </div>
  <div class="bug-create__info col-2-of-4">
    <h4 class="bug-create__info--header">Guidelines</h4>
    <div class="bug-create__info--list">
      <div class="bug-create__info--row">
        <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
        <p class="bug-create__info--bullet-title">Defining an Error</p> 
      </div>
      <div class="bug-create__info--row">
        <p class="bug-create__info--text">
            When you are posting a bug, try to ascertain which part of your 
            error message is the most important and descriptive.
        </p>
      </div> 
      <div class="bug-create__info--row">
        <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
        <p class="bug-create__info--bullet-title">Posting a Stack Trace</p> 
      </div>
      <div class="bug-create__info--row">
        <p class="bug-create__info--text">
          Your stack trace contains all the stack frames until its own contructor
          function (i.e. everything that is still on the stack up until the error
          exception is thrown).  This output can be extremely 
          helpful when debugging to get additional info but takes practice 
          to filter what is and isn't important.  If you're not exactly sure what 
          this means, the stack trace is typically the majority of your error so 
          feel free to copy the whole thing and paste it here (unless it is abnormally 
          long, then use your judgement).
        </p>
      </div> 
      <div class="bug-create__info--row">
        <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
        <p class="bug-create__info--bullet-title">Adding a Comment</p> 
      </div>
      <div class="bug-create__info--row">
        <p class="bug-create__info--text">
          This is a really good place to mention the ways you have already tried 
          to solve your bug.  Not only will this reduce thread redundancy but will 
          also offer an opportunity for you to rubber-duck-debug in case you forgot 
          to try something. If there is any additional info that you think might 
          be helpful you can add it here (e.g. code snippets you think might be 
          the cause, questions about the error message itself, etc.).
        </p>
      </div> 
      <div class="bug-create__info--row">
        <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
        <p class="bug-create__info--bullet-title">Brevity is the Soul of Wit</p> 
      </div>
      <div class="bug-create__info--row">
        <p class="bug-create__info--text">
          Don't write a book; ain't nobody's got times for that.
        </p>
      </div> 
    </div>
  </div>
</div>


  <div *ngIf="showAnswerForm && editAnswer" class="row bug-create__form--block">
    <div class="bug-create col-2-of-4">
      <form 
        (submit)="onSubmitAnswerEdit()" 
        class="bug-create__form">
        <input 
          type="hidden" 
          [(ngModel)]="updatedAnswer.posted_by" 
          name="updatedAnswer.posted_by">
        <input 
          type="hidden" 
          [(ngModel)]="updatedAnswer.bug_id" 
          name="updatedAnswer.bug_id">
        <div class="bug-create__form--row">
          <h4 class="bug-create__info--header">Edit Answer</h4>
        </div>
        <div class="form__row">
          <quill-editor 
            [(ngModel)]="updatedAnswer.answer_content"
            #content="ngModel"
            name="updatedAnswer.answer_content"
            [style]="{height: '250px'}"
            id="content">
            <div quill-editor-toolbar>
              <span class="ql-formats">
                <button class="ql-bold" [title]="'Bold'"></button>
                <button class="ql-italic" [title]="'Italic'"></button>
                <button class="ql-code-block" [title]="'Code Block'"></button>
              </span>
            </div>
          </quill-editor>
        </div>
        <div *ngIf="answerFormErrors.ContentField" class="reg__form--error">
          {{ answerFormErrors.ContentField }}
        </div>
        <div class="u-spacer"></div>
        <button class="bug-create__btn">Add Answer</button>
      </form>
    </div>
    <div class="bug-create__info col-2-of-4">
      <h4 class="bug-create__info--header">Things to Consider</h4>
      <div class="bug-create__info--list">
        <div class="bug-create__info--row">
          <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
          <p class="bug-create__info--bullet-title">Look for Typos</p> 
        </div>
        <div class="bug-create__info--row">
          <p class="bug-create__info--text">
            The majority of bugs are usually a typo of some sort, so be 
            on the prowl for them, especially if your first reaction is 
            'hmm, the code looks good'.
          </p>
        </div> 
        <div class="bug-create__info--row">
          <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
          <p class="bug-create__info--bullet-title">Need More Info?</p> 
        </div>
        <div class="bug-create__info--row">
          <p class="bug-create__info--text">
            It is normal to sometimes need more information when you 
            are trying to help solve a bug. Feel free to ask if you 
            think it will help!
          </p>
        </div> 
        <div class="bug-create__info--row">
          <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
          <p class="bug-create__info--bullet-title">Brevity is the Soul of Wit</p> 
        </div>
        <div class="bug-create__info--row">
          <p class="bug-create__info--text">
            Don't write a book; ain't nobody's got times for that.
          </p>
        </div> 
      </div>
    </div>
  </div>
  <div *ngIf="showAnswerForm && !editAnswer" class="row bug-create__form--block">
    <div class="bug-create col-2-of-4">
      <form 
        (submit)="onSubmitAnswer()" 
        class="bug-create__form">
        <input 
          type="hidden" 
          [(ngModel)]="newAnswer.posted_by" 
          name="newAnswer.posted_by">
        <input 
          type="hidden" 
          [(ngModel)]="newAnswer.bug_id" 
          name="newAnswer.bug_id">
        <div class="bug-create__form--row">
          <h4 class="bug-create__info--header">Add Answer</h4>
        </div>
        <div class="form__row">
          <quill-editor 
            [(ngModel)]="newAnswer.answer_content"
            #content="ngModel"
            name="newAnswer.answer_content"
            [style]="{height: '250px'}"
            id="content">
            <div quill-editor-toolbar>
              <span class="ql-formats">
                <button class="ql-bold" [title]="'Bold'"></button>
                <button class="ql-italic" [title]="'Italic'"></button>
                <button class="ql-code-block" [title]="'Code Block'"></button>
              </span>
            </div>
          </quill-editor>
        </div>
        <div *ngIf="answerFormErrors.ContentField" class="reg__form--error">
          {{ answerFormErrors.ContentField }}
        </div>
        <div class="u-spacer"></div>
        <button class="bug-create__btn">Add Answer</button>
      </form>
    </div>
    <div class="bug-create__info col-2-of-4">
      <h4 class="bug-create__info--header">Things to Consider</h4>
      <div class="bug-create__info--list">
        <div class="bug-create__info--row">
          <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
          <p class="bug-create__info--bullet-title">Look for Typos</p> 
        </div>
        <div class="bug-create__info--row">
          <p class="bug-create__info--text">
            The majority of bugs are usually a typo of some sort, so be 
            on the prowl for them, especially if your first reaction is 
            'hmm, the code looks good'.
          </p>
        </div> 
        <div class="bug-create__info--row">
          <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
          <p class="bug-create__info--bullet-title">Need More Info?</p> 
        </div>
        <div class="bug-create__info--row">
          <p class="bug-create__info--text">
            It is normal to sometimes need more information when you 
            are trying to help solve a bug. Feel free to ask if you 
            think it will help!
          </p>
        </div> 
        <div class="bug-create__info--row">
          <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
          <p class="bug-create__info--bullet-title">Brevity is the Soul of Wit</p> 
        </div>
        <div class="bug-create__info--row">
          <p class="bug-create__info--text">
            Don't write a book; ain't nobody's got times for that.
          </p>
        </div> 
      </div>
    </div>
  </div>
</div>
  <div *ngIf="answers[0] && answers[0].answer_content !== null" class="answers">
    <div *ngFor="let answer of answers" class="answers__row">
      <div class="answers__group">
        <svg 
          *ngIf="answer.answered_by == user.user_id" 
          (click)="onEditAnswer(answer.answer_id)" 
          class="answers__icon--edit">
          <use xlink:href="assets/img/icons/sprite.svg#icon-pencil"></use>
        </svg>
        <div 
          [innerHtml]="answer['answer_content']"
          class="answers__content">
        </div>
      </div>
      <div class="answers__info">
        <p> <span class="u-color-grey">posted</span> {{ answer.answer_created | timeAgo }} </p>
        <div class="answers__answered_by"> {{ answer.answered_name }} </div>
      </div>
    </div>
  </div>
<div *ngIf="answers[0] && answers[0].answer_content === null" class="answers">
  There are currently no suggested solutions for this bug. You should be the first!
</div>
