.bugs {

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--color-black);

    &:hover {
      background-color: var(--color-blue);
      color: var(--color-white);
    }
  }

  &__item {
    margin: 1rem 1rem;
    border: 1px solid var(--color-blue);
    transition: all .1s;
  }

  &__info {
    min-width: 10%;
  }

  &__created {
    color: inherit;
    // color: var(--color-blue);
    // color: var(--color-black);
  }

  &__answers {
    color: var(--color-yellow);
  }
}