<div class="bug-create">
  <form 
    (submit)="onSubmitBug()" 
    class="bug-create__form">

    <input 
      type="hidden" 
      [(ngModel)]="newBug.posted_by" 
      name="newBug.posted_by">

    <div class="bug-create__form--row">
      <label for="title" class="bug-create__form--label">Error</label>
    </div>
    <div class="bug-create__form--row">
      <input 
        [(ngModel)]="newBug.error"
        #title="ngModel"
        name="newBug.error"
        type="text" 
        class="bug-create__form--input" 
        id="title">
    </div>

    <div class="bug-create__form--row">
      <label for="traceback" class="bug-create__form--label">Traceback</label>
    </div>
    <div class="bug-create__form--row">
      <textarea 
        [(ngModel)]="newBug.traceback"
        #traceback="ngModel"
        name="newBug.traceback"
        type="text" 
        class="bug-create__form--textbox" 
        id="traceback"></textarea>
    </div>
    <button class="bug-create__btn">Submit New Bug</button>
  </form>

</div>