<form 
  (submit)="onSubmitBug()" 
  class="form">

  <input 
    type="hidden" 
    [(ngModel)]="newBug.posted_by" 
    name="newBug.posted_by">

  <div class="form__row">
    <label for="title" class="form__label">Error</label>
  </div>
  <div class="form__row">
    <input 
      [(ngModel)]="newBug.error"
      #title="ngModel"
      name="newBug.error"
      type="text" 
      class="form__input" 
      id="title">
  </div>

  <div class="form__row">
    <label for="traceback" class="form__label">Traceback</label>
  </div>
  <div class="form__row">
    <textarea 
      [(ngModel)]="newBug.traceback"
      #traceback="ngModel"
      name="newBug.traceback"
      type="text" 
      class="form__input" 
      id="traceback"></textarea>
  </div>
  <button class="btn">Submit New Bug</button>
</form>

{{ newBug | json }}