<div class="row">
  <section class="reg">

    <div class="col-2-of-4">
      <img src="assets/img/fettprofile2.jpg" alt="balls" class="reg__img">
    </div>

    <div class="col-2-of-4 reg__form-container">
      <form 
        [formGroup]="emailForm"
        (ngSubmit)="onEmail()"
        *ngIf="showEmailField"
        class="reg__form">
        <div class="reg__form--row">
          <input 
            appAutofocus
            formControlName="email"
            required
            type="email" 
            class="reg__form--input" 
            id="email_field">
          <div 
            *ngIf="LogEmail.untouched || LogEmail.valid" 
            class="reg__form--label">
            <label for="email_field">Enter your email</label>
          </div>
          <div 
            *ngIf="LogEmail.invalid && LogEmail.touched" 
            class="reg__form--error">
            <div *ngIf="LogEmail.hasError('required')">Email is required.</div>
            <div *ngIf="LogEmail.hasError('invalidEmail')">Email must be valid.</div>
            <div *ngIf="LogEmail.hasError('email')">Email must be valid.</div>
          </div>
        </div>
        <button [disabled]="!emailForm.valid" class="btn">Next</button>
      </form>

      <form 
        [formGroup]="passwordForm"
        (ngSubmit)="onPassword()" 
        *ngIf="isRegistered && showPasswordField"
        class="reg__form">
        <h4 *ngIf="isRegistered" class="reg__form--title">Welcome Back {{user.first_name}}</h4>
        <input type="hidden" formControlName="email">
        <div class="reg__form--row">
          <input 
            formControlName="password"
            type="password" 
            class="reg__form--input" 
            id="password">
          <div 
            *ngIf="LogPassword.pristine || LogPassword.valid" 
            class="reg__form--label">
            <label for="password">Password</label>
          </div>
          <div 
            *ngIf="!LogPassword.pristine && LogPassword.invalid" 
            class="reg__form--error">
            <div *ngIf="LogPassword.hasError('required')">Password is required</div>
            <div *ngIf="LogPassword.hasError('incorrectPassword')">Incorrect password.</div>
          </div>
        </div>
        <button [disabled]="!passwordForm.valid" class="btn">Login</button>
        <a class="reg__form--link" href="/">Not {{user.first_name}} {{user.last_name}}?</a>
      </form>

      <form 
        [formGroup]="newUserForm"
        (ngSubmit)="onRegister()"
        *ngIf="!isRegistered && showPasswordField"
        class="reg__form">
        <h4 class="reg__form--title">Welcome! Sign up here!</h4>
        <div class="reg__form--row">
          <input 
            appAutofocus
            formControlName="first_name"
            type="text" 
            class="reg__form--input" 
            id="first_name">
          <div *ngIf="FirstName.untouched || FirstName.valid" class="reg__form--label">
            <label for="first_name">First Name</label>
          </div>
          <div 
            *ngIf="FirstName.touched && FirstName.invalid"
            class="reg__form--error">
            <div *ngIf="FirstName.hasError('required')">First name is required.</div>
            <div *ngIf="FirstName.hasError('minlength')">Name must be at least {{ FirstName.errors.minlength.requiredLength }} characters.</div>
            <div *ngIf="FirstName.hasError('cannotContainSpace')">Names cannot contain spaces</div>
          </div>
        </div>
        <div class="reg__form--row">
          <input 
            formControlName="last_name"
            type="text" 
            class="reg__form--input" 
            id="last_name">
          <div 
            *ngIf="LastName.untouched || LastName.valid" 
            class="reg__form--label">
            <label for="last_name">Last Name</label>
          </div>
          <div 
            *ngIf="LastName.touched && LastName.invalid"
            class="reg__form--error">
            <div *ngIf="LastName.hasError('required')">Last name is required.</div>
            <div *ngIf="LastName.hasError('minlength')">Name must be at least {{ FirstName.errors.minlength.requiredLength }} characters.</div>
            <div *ngIf="LastName.hasError('cannotContainSpace')">Names cannot contain spaces</div>
          </div>
        </div>
        <div class="reg__form--row">
          <select 
            formControlName="faction_id"
            class="reg__form--input reg__form--select" 
            id="faction">
            <option *ngIf="!admin" value="1">Rebel Alliance</option>
            <option *ngIf="!admin" value="2">Galactic Empire</option>
            <option *ngIf="!admin" value="3">Jedi Order</option>
            <option *ngIf="admin" value="4">General Leia</option>
            <option *ngIf="admin" value="5">Han Solo</option>
          </select> 
          <div class="reg__form--label">
            <label for="faction">Faction</label>
          </div>
        </div>

        <div class="reg__form--row">
          <input 
            formControlName="email"
            type="email" 
            class="reg__form--input"
            id="reg_email">
          <div 
            *ngIf="RegEmail.untouched || RegEmail.valid"
            class="reg__form--label">
            <label for="reg_email">Email</label>
          </div>
          <div 
            *ngIf="RegEmail.touched && RegEmail.invalid"
            class="reg__form--error">
            <div *ngIf="RegEmail.hasError('required')">Email is required.</div>
            <div *ngIf="RegEmail.hasError('alreadyExists')">Email is already registered.</div>
          </div>
        </div>
        <div class="reg__form--row">
          <input 
            formControlName="password"
            type="password" 
            class="reg__form--input" 
            id="password">
          <div 
            *ngIf="RegPassword.untouched || RegPassword.valid" 
            class="reg__form--label">
            <label for="password">Password</label>
          </div>
          <div 
            *ngIf="RegPassword.touched && RegPassword.invalid"
            class="reg__form--error">
            <div *ngIf="RegPassword.hasError('required')">Password is required.</div>
          </div>
        </div>
        <div class="reg__form--row">
          <input 
            formControlName="confirm"
            type="password" 
            class="reg__form--input" 
            id="confirm">
          <div 
            *ngIf="Confirm.untouched || Confirm.valid || Confirm.pristine" 
            class="reg__form--label">
            <label for="confirm">Confirm</label>
          </div>
          <div 
            *ngIf="Confirm.touched && Confirm.invalid"
            class="reg__form--error">
            <div *ngIf="Confirm.hasError('passwordsDoNotMatch')">Passwords do not match.</div>
          </div>
        </div>
        <button [disabled]="!newUserForm.valid" class="btn">Register</button>
        <a class="reg__form--link" href="/">Already registered? Click here.</a>
      </form>
    </div>
  </section>
</div>