<h2 class="u-header--primary">Submit a New Bug</h2>
<div class="row">
  <div class="bug-create col-2-of-4">
    <form 
      (submit)="onSubmitBug()" 
      class="bug-create__form">
      <input 
        type="hidden" 
        [(ngModel)]="newBug.posted_by" 
        name="newBug.posted_by">
      <div class="bug-create__form--row">
        <label for="title" class="bug-create__form--label">Error</label>
      </div>
      <div class="bug-create__form--row">
        <input 
          [(ngModel)]="newBug.error"
          #title="ngModel"
          name="newBug.error"
          placeholder="Define error here"
          type="text" 
          class="bug-create__form--input" 
          id="title">
      </div>
      <div 
        *ngIf="formErrors.ErrorField" 
        class="reg__form--error">
        {{ formErrors.ErrorField }}
      </div>
      <div class="u-spacer"></div>
      <div class="bug-create__form--row">
        <label for="traceback" class="bug-create__form--label">Stack Trace</label>
      </div>
      <div class="bug-create__form--row">
          <quill-editor 
            [(ngModel)]="newBug.traceback"
            #traceback="ngModel"
            name="newBug.traceback"
            type="text" 
            [style]="{ 'border-radius': '5px', 'height': '20rem' }"
            id="traceback">
            <div quill-editor-toolbar>
              <span class="ql-formats">
                <button class="ql-code-block" [title]="'Code Block'"></button>
              </span>
            </div>
          </quill-editor>
      </div>
      <div *ngIf="formErrors.TracebackField" class="reg__form--error">
        {{ formErrors.TracebackField }}
      </div>
      <div class="u-spacer"></div>
      <div class="bug-create__form--row">
        <label for="message" class="bug-create__form--label">Comments</label>
      </div>
      <div class="bug-create__form--row">
          <quill-editor 
            [(ngModel)]="newBug.message"
            #message="ngModel"
            name="newBug.message"
            type="text" 
            [style]="{ 'border-radius': '5px', 'height': '20rem' }"
            id="traceback">
            <div quill-editor-toolbar>
              <span class="ql-formats">
                <button class="ql-code-block" [title]="'Code Block'"></button>
              </span>
            </div>
          </quill-editor>
      </div>
      <div *ngIf="formErrors.MessageField" class="reg__form--error">
        {{ formErrors.MessageField }}
      </div>
      <div class="u-spacer"></div>
      <button class="bug-create__btn">Submit New Bug</button>
    </form>
  </div>
  <div class="bug-create__info col-2-of-4">
    <h4 class="bug-create__info--header">Guidelines</h4>
    <div class="bug-create__info--list">
      <div class="bug-create__info--row">
        <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
        <p class="bug-create__info--bullet-title">Defining an Error</p> 
      </div>
      <div class="bug-create__info--row">
        <p class="bug-create__info--text">
            When you are posting a bug, try to ascertain which part of your 
            error message is the most pertinent and descriptive.
        </p>
      </div> 
      <div class="bug-create__info--row">
        <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
        <p class="bug-create__info--bullet-title">Posting a Stack Trace</p> 
      </div>
      <div class="bug-create__info--row">
        <p class="bug-create__info--text">
          Your stack trace refers to the block of code that references each line
          of code that failed because of the error.  This output can be extremely 
          helpful when debugging to get additional info but takes practice 
          to filter what's noise and what's integral.  If you are 
          unsure what your stack trace is, just copy the whole error message 
          and paste it here.
        </p>
      </div> 
      <div class="bug-create__info--row">
        <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
        <p class="bug-create__info--bullet-title">Adding a Comment</p> 
      </div>
      <div class="bug-create__info--row">
        <p class="bug-create__info--text">
          This is a really good place to mention the ways you have already tried 
          to solve your bug.  Not only will this reduce thread redundancy but will 
          also offer an opportunity for you to rubber-duck-debug in case you forgot 
          to try something. If there is any additional info that you think might 
          be helpful you can add it here (e.g. code snippets you think might be 
          the cause, questions about the error message itself, etc.).
        </p>
      </div> 
      <div class="bug-create__info--row">
        <img src="assets/img/target_50px.png" alt="target" class="bug-create__bullseye">
        <p class="bug-create__info--bullet-title">Brevity is the Soul of Wit</p> 
      </div>
      <div class="bug-create__info--row">
        <p class="bug-create__info--text">
          Don't write a book; ain't nobody's got times for that.
        </p>
      </div> 
    </div>
  </div>
</div>
<div *ngIf="newBug.error.length" class="bug-create__preview">
  <h2 class="bug-create__preview--title">Bug Prieview</h2>
  <section class="bug-view">
    <div class="bug-view__row">
      <div class="bug-view__row--cluster">
        <svg *ngIf="userLikes" class="bug-view__icon--liked">
          <use xlink:href="assets/img/icons/sprite.svg#icon-heart"></use>
        </svg>
        <svg *ngIf="!userLikes" (click)="likeBug()" class="bug-view__icon--unliked">
          <use xlink:href="assets/img/icons/sprite.svg#icon-heart-o"></use>
        </svg>
        <h2 class="bug-view__error">{{ newBug.error }}</h2>
      </div>
      <div class="bug-view__row--col">
        <h5 class="bug-view__created"> 
          <span class="u-color-grey">posted</span>
          a moment ago
        </h5>
        
        <h5 class="bug-view__created"> 
          <span class="u-color-grey">by</span>
          {{ user.first_name }} {{ user.last_name }}
        </h5>
      </div>
    </div>
    <div 
      [innerHtml]="newBug.traceback"
      class="bug-view__traceback">
    </div>
    <div 
      [innerHtml]="newBug.message"
      class="bug-view__message">
    </div>
  </section>
</div>