.btn {
  display: inline-block;
  width: 100%;
  padding: 2rem;
  background-color: transparent;
  font-size: 3rem; 
  font-family: 'Lato';
  border-style: groove;
  border-radius: $default-border-radius;

  &:hover {
    border-color: $color-blue;
    background-color: $color-blue;
    color: $color-white;
    cursor: pointer;
  }
  &:hover:disabled {
    cursor: not-allowed;
  }
}