.bugs {
  margin-bottom: $margin-bottom;

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem;

    &--favorite {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $color-light-grey;
    }

    &--text {
      margin-right: 1rem;
      margin-left: 1rem;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: $color-black;

    &:hover {
      background-color: $color-blue;
      color: $color-white;
    }
  }

  &__group {
    position: relative;
  }

  &__item {
    margin: 1rem;
    border: 1px solid $color-blue;
    transition: all .1s;
    font-size: 2rem;

    &--delete {
      position: absolute;
      top: 50%;
      left: -1rem;
      transform: translateY(-50%);
      height: 2rem;
      width: 2rem;

      &:hover {
        fill: $color-red;
        cursor: pointer;
      }
    }
  }

  &__info {
    min-width: 10%;
    font-size: 2rem;
    color: inherit;

    &--row {
      display: flex;
      justify-content: space-between;
    }

    &--item {

    }

    &--cluster {
      display: flex;
    }
  }

  &__created {
    margin-bottom: .5rem;
    text-align: right;
    // color: var(--color-blue);
    // color: var(--color-black);
  }

  &__answers {
    // color: var(--color-yellow);
  }
}