.bugs {
  margin-bottom: $margin-bottom;

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: $color-black;

    &:hover {
      background-color: $color-blue;
      color: $color-white;
    }
  }

  &__item {
    margin: 1rem;
    border: 1px solid $color-blue;
    transition: all .1s;
    font-size: 2rem;
  }

  &__info {
    min-width: 10%;
    font-size: 2rem;
    color: inherit;

    &--row {
      display: flex;
      justify-content: space-between;
    }

    &--item {

    }

    &--cluster {
      display: flex;
    }
  }

  &__created {
    margin-bottom: .5rem;
    text-align: right;
    // color: var(--color-blue);
    // color: var(--color-black);
  }

  &__answers {
    // color: var(--color-yellow);
  }
}