.bug-create {
  display: inline-block;

  &__form {
    display: inline-block;
    font-size: 2rem;
    // border: 1px dashed red;
    width: 100%;

    &--input {
      border-style: ridge;
      border-radius: 5px;
      padding: 1rem;
      margin: 1rem 0;
      width: 100%;
    }

    &--textbox {
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 5px;
      border-style: groove;
      resize: none;
      height: 20rem;
    }
  }

  &__btn {
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    border: none;
    border-radius: $default-border-radius;
    border: 1px solid $color-light-grey;
    background-color: $color-blue;
    color: $color-white;

    &:hover {
      cursor: pointer;
      background-color: $color-red;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
  &__bullseye {
    min-height: 50px;
    min-width: 50px;
  }

  &__info {
    display: inline-block;
    // border: 1px dashed red;
    width: 100%;
    margin-left: 3rem;
    vertical-align: top;

    &--header {
      font-size: 3rem;
    }

    &--list {
      list-style-position: inside;
      font-size: 2rem;
    }

    &--row {
      margin-top: 1rem;
      box-sizing: border-box;
      margin-top: 1rem;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      width: 100%;
      // line-height: 100%;
      // border: 1px dashed green;
      // vertical-align: middle;
    }

    &--bullet-title {
      font-size: 2.5rem;
      margin-left: 1rem;
    }

    &--text {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }

  &__preview {
    padding: 2rem;
    border: 1px dashed $color-light-grey;

    &--title {
      text-align: center;
      padding-bottom: 2rem;
    }
  }
}