.bug-view {
  margin-bottom: $margin-bottom;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 3px solid $color-blue;
    border-bottom: 3px solid $color-blue;
    margin-bottom: 1rem;

    &--cluster {
      display: flex;
      align-items: center;
    }

    &--col {
      min-width: 15%;
      display: flex;
      flex-direction: column;
    }
  }

  &__icon {

    &--unliked {
      display: inline-block;
      height: 3rem;
      width: 3rem;
      min-height: 3rem;
      min-width: 3rem;

      &:hover {
        cursor: pointer;
        fill: $color-red;
      }
    }

    &--liked {
      display: inline-block;
      height: 3rem;
      width: 3rem;
      min-height: 3rem;
      min-width: 3rem;
      fill: $color-red;

      &:hover {
        cursor: pointer;
      }
    }

  }

  &__error {
    display: inline-block;
    margin-left: 2rem;
  }

  &__created {
    text-align: right;
    min-width: 10%;
    margin-left: 2rem;
    font-size: 1.2rem;

    &--img {
      margin-left: 1rem;
      img {
        height: 4rem;

      }
    }
  }

  &__traceback {
    font-size: 2rem;
    background-color: $color-off-white;
    padding: 2rem;
    border-radius: $default-border-radius;
    color: $color-red;
    
  }

  &__message {
    font-size: 2rem;
    padding: 2rem;
    border: 1px solid $color-light-grey;
    margin-top: 2rem;
  }

  &__controls {
    display: flex;
  }
}

.form {
  margin-bottom: var(--margin-bottom);

  &__textarea {
    display: inline-block;
    width: 75rem;
    height: 50rem;
    border-style: groove;
    border-radius: $default-border-radius;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1.5rem;
    resize: none;
  }
}

.answers {
  margin: 2rem;

  &__group {

    &--data {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &--info {
      width: 28%;
      display: flex;
      align-items: center;
    }
  }

  &__row {
    margin-top: 1rem;
    padding: 2rem;
    border: 1px solid $color-blue;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &--cluster {
      display: flex;
    }
  }

  &__icon {

    &--edit {
      margin-top: 1.5rem;
      height: 2rem;
      width: 2rem;
      min-width: 2rem;
      fill: $color-light-grey;
      align-self: flex-start;

      &:hover {
        cursor: pointer;
        fill: $color-red;
      }
    }

    &--accepted {
      margin-top: 1.5rem;
      height: 2rem;
      width: 2rem;
      min-width: 2rem;
      fill: green;
      align-self: flex-start;
    }

    &--accept {
      margin-top: 1.5rem;
      height: 2rem;
      width: 2rem;
      min-width: 2rem;
      fill: $color-dark-grey;
      align-self: flex-start;

      &:hover {
        cursor: pointer;
        fill: green;
      }
    }

    &--unliked {
      display: inline-block;
      height: 3rem;
      width: 3rem;

      &:hover {
        cursor: pointer;
        fill: $color-red;
      }
    }

    &--liked {
      display: inline-block;
      height: 3rem;
      width: 3rem;
      fill: $color-red;

      &:hover {
        cursor: pointer;
      }
    }

  }

  &__content {
    margin: 1rem;
    font-size: 2rem;
    width: 100%;
  }

  &__info {
    display: inline-block;
    text-align: right;
    width: 100%;
    font-size: 1.2rem;
  }
}