.profile {
  padding: 3rem;

  &__title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: $margin-bottom;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    @include backgroundColor;

  }

  &__yoda {
    @include absoluteCenter;
    width: 70%;
    z-index: 500;
    font-size: 2.5rem;

    &--img {
      width: 20rem;
      height: 20rem;
      border-radius: $default-border-radius;
      display: block;
      margin: 0 auto;
      margin-top: 1rem;
      margin-bottom: 2rem;
      // border: 2px dashed orangered;
    }

    &--quotes {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 2rem;
    }

    &--item {
      font-family: Jedi;
      font-size: 2rem;
      font-weight: 200;
      text-align: center;
    }
  }

  &__avatar {
    align-self: center;
    font-size: 8rem;
    font-family: Jedi;

    &--title {
      margin-top: 1rem;
      text-align: center;
      font-size: 3rem;
      font-family: Jedi;
      margin-bottom: 2rem;
      text-align: center;
      color: transparent;
      -webkit-text-stroke-width: 1px;  
      -webkit-text-stroke-color: $color-yellow;  
    }

    &--factions {
      @include absoluteCenter;
      width: 70%;
    }
  }

  &__image {
    position: relative;
    text-align: center;
    cursor: not-allowed;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;

    img {
      width: 100%;
    }

    &:hover > * {
      display: initial;
    }

    &--icon {
      @include absoluteCenter;
      background-color: transparent;
      border: none;
      display: none;
      height: 4rem;
      width: 4rem;
      fill: $color-white;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;

    &--cluster {
      display: flex;
      align-items: center;
    }
  }

  &__icon {

    &--edit {
      margin-left: 1rem;
      height: 1.6rem;
      width: 1.6rem;
      fill: $color-white;

      &:hover {
        fill: $color-red;
        cursor: not-allowed;
      }
    }
  }

  &__info {
    font-size: 2rem;
    color: $color-white;
    padding: 2rem;
    width: 60%;
  }

  &__btn {
    font-family: Lato;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: $color-blue;
    color: $color-white;
    margin: 0 auto;
    margin-bottom: $margin-bottom;
    border-radius: $default-border-radius;
    border: none;
    box-shadow: 0 1rem 3rem rgba($color-black, .4);

    &:hover {
      cursor: pointer;
      background-color: $color-red;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &--icon {
      height: 3rem;
      width: 3rem;
      fill: $color-white;
    }
    &--text {
      margin-left: 1rem;
      line-height: 100%;
    }
  }

  &__avatar-list {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: $margin-bottom;

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    &--container {
      @include backgroundColor;
      width: 100%;
    }

    &--title-box {
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--title {
      @include jediTitle;
    }

    &--help-icon {
      fill: $color-yellow;
      height: 2rem;
      width: 2rem;
      margin-left: 1rem;

      &:hover {
        cursor: pointer;
        fill: $color-blue;
      }
    }
  }
}