.search {
  font-size: 2.5rem;
  margin: 1rem 1rem;
  margin-bottom: 3rem;
  display: flex;

  &__search-bar {
    width: 80%;
    padding: 1rem;
    font-size: 2rem;
    border-style: ridge;
    border-radius: 0 5px 5px 0;
  }

  &__btn {
    background-color: $color-blue;
    color: $color-white;
    width: 20%;
    font-size: 2rem;
    border: none;
    border-radius: 5px 0 0 5px;

    &:hover {
      cursor: pointer;
    }
  }
}