<div class="profile">

  <div class="profile__container">

    <div class="profile__avatar">
      <div (click)="editProfilePic()" class="profile__image">
        <img src={{user.profile_img}} alt="avatar">
        <svg class="profile__image--icon">
          <use xlink:href="assets/img/icons/sprite.svg#icon-pencil"></use>
        </svg>
      </div>
      <h3 *ngIf="stats.konami_unlock" class="profile__avatar--title">Grand Master</h3>
      <h3 *ngIf="!stats.konami_unlock" class="profile__avatar--title">{{ user.faction_name }}</h3>
    </div>


    <div class="profile__info">
      <div class="profile__row">
        <div class="profile__item">Highest Achievement:</div>
        <div class="profile__item">{{ bestTitle }}</div>
      </div>

      <div class="u-divider u-color-white">

        <div class="profile__row">
          <div class="profile__item">Name: </div>
          <div class="profile__row--cluster">
            <div class="profile__item">
              {{ user.first_name}} {{ user.last_name }} 
            </div>
            <svg 
              (click)="editName()" 
              class="profile__icon--edit">
              <use xlink:href="assets/img/icons/sprite.svg#icon-pencil"></use>
            </svg>
          </div>            
        </div>

        <div class="profile__row">
          <div class="profile__item">Email:</div>
          <div class="profile__row--cluster">
            <div class="profile__item">{{ user.email }} </div>
            <svg 
              (click)="editEmail()" 
              class="profile__icon--edit">
              <use xlink:href="assets/img/icons/sprite.svg#icon-pencil"></use>
            </svg>
          </div>
        </div>

        <div class="profile__row">
          <div class="profile__item">Created:</div>
          <div class="profile__item">{{ user.created_at | timeAgo }} </div>
        </div>
      
      </div>

      <div class="profile__row">
        <div class="profile__item">Bugs Posted:</div>
        <div class="profile__item">{{ stats.bugs_posted }}</div>
      </div>

      <div class="profile__row">
        <div class="profile__item">Bugs Answered:</div>
        <div class="profile__item">{{ stats.answers_posted }}</div>
      </div>

  </div>

</div>
<div class="profile__avatar-list--container">

  <h2 class="profile__avatar-list--title">Factions</h2>
  <div class="profile__avatar-list">
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/profile-11.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Rebel Alliance</figcaption>
      </figure>
      <p class="story__score">Bugs Posted: {{ rebels.bugs_posted }}</p>
      <p class="story__score">Bugs Answered: {{ rebels.bugs_answered }}</p>
    </div>
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/profile-12.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Galactic Empire</figcaption>
      </figure>
      <p class="story__score">Bugs Posted: {{ empire.bugs_posted }}</p>
      <p class="story__score">Bugs Answered: {{ empire.bugs_answered }}</p>
    </div>
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/profile-9.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Jedi Order</figcaption>
      </figure>
      <p class="story__score">Bugs Posted: {{ jedis.bugs_posted }}</p>
      <p class="story__score">Bugs Answered: {{ jedis.bugs_answered }}</p>
    </div>
  </div>

  <h2 class="profile__avatar-list--title">Ranks and Achievements</h2>
  <div class="profile__avatar-list">
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/bobafett.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Bug Hunter</figcaption>
      </figure>
    </div>
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/windu.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Master Bug Hunter</figcaption>
      </figure>
    </div>
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/yoda.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Grand Master</figcaption>
      </figure>
    </div>
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/r2d2.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Hacker</figcaption>
      </figure>
    </div>
  </div>
  <div class="profile__avatar-list">
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/vader.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Bug Vader</figcaption>
      </figure>
    </div>
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/falcon.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Kessel Commander</figcaption>
      </figure>
    </div>
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/deathstar.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">The Bug Star</figcaption>
      </figure>
    </div>
  </div>
  <h2 class="profile__avatar-list--title">Admins</h2>
  <div class="profile__avatar-list">
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/solo.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Teaching Assistant</figcaption>
      </figure>
    </div>
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/leia.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Instructor</figcaption>
      </figure>
    </div>
  </div>