<div class="profile">

  <div class="profile__container">

    <div class="profile__avatar">
      <div (click)="editProfilePic()" class="profile__image">
        <img src={{user.profile_img}} alt="avatar">
      </div>
      <h3 *ngIf="stats.konami_unlock" class="profile__avatar--title">Grand Master</h3>
      <h3 *ngIf="!stats.konami_unlock" class="profile__avatar--title">{{ user.faction_name }}</h3>
    </div>


    <div class="profile__info">
      <div class="profile__row">
        <div class="profile__item">Highest Rank:</div>
        <div class="profile__item">{{ rankData.bestTitle }}</div>
      </div>
      <div class="profile__row">
        <div class="profile__item">Highest Achievement:</div>
        <div class="profile__item">{{ rankData.achievement }}</div>
      </div>

      <div class="u-divider u-color-white">

        <div class="profile__row">
          <div class="profile__item">Name: </div>
          <div class="profile__row--cluster">
            <div class="profile__item">
              {{ user.first_name}} {{ user.last_name }} 
            </div>
            <svg 
              (click)="editName()" 
              class="profile__icon--edit">
              <use xlink:href="assets/img/icons/sprite.svg#icon-pencil"></use>
            </svg>
          </div>            
        </div>

        <div class="profile__row">
          <div class="profile__item">Email:</div>
          <div class="profile__row--cluster">
            <div class="profile__item">{{ user.email }} </div>
            <svg 
              (click)="editEmail()" 
              class="profile__icon--edit">
              <use xlink:href="assets/img/icons/sprite.svg#icon-pencil"></use>
            </svg>
          </div>
        </div>

        <div class="profile__row">
          <div class="profile__item">Created:</div>
          <div class="profile__item">{{ user.created_at | timeAgo }} </div>
        </div>
      
      </div>

      <div class="profile__row">
        <div class="profile__item">Bugs Posted:</div>
        <div class="profile__item">{{ stats.bugs_posted }}</div>
      </div>

      <div class="profile__row">
        <div class="profile__item">Bugs Answered:</div>
        <div class="profile__item">{{ stats.answers_posted }}</div>
      </div>

  </div>

</div>
<div class="profile__avatar-list--container">
  <div class="profile__avatar-list--title-box">
    <h2 class="profile__avatar-list--title">Ranks and Achievements</h2>
    <svg 
      (click)="toggleYoda()"
      class="profile__avatar-list--help-icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-help_outline"></use>
    </svg>
  </div>
  <div class="profile__avatar-list">
    <div 
      (click)="editProfilePic(0)" 
      class="story">
      <figure class="story__shape">
        <svg 
          *ngIf="rank < 3"
          class="profile__icon--lock">
          <use xlink:href="assets/img/icons/sprite.svg#icon-lock"></use>
        </svg>
        <img 
          *ngIf="rank >= 3"
          src="assets/img/images/bobafett.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption 
          *ngIf="rank >= 3"
          class="story__caption">Bug Hunter</figcaption>
      </figure>
    </div>
    <div 
      class="story">
      <figure class="story__shape">
        <svg 
          *ngIf="rank < 4"
          class="profile__icon--lock">
          <use xlink:href="assets/img/icons/sprite.svg#icon-lock"></use>
        </svg>
        <img 
          *ngIf="rank >= 4"
          (click)="editProfilePic(1)" 
          src="assets/img/images/windu.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption 
          (click)="editProfilePic(1)" 
          *ngIf="rank >= 4"
          class="story__caption">Master Bug Hunter</figcaption>
      </figure>
    </div>
    <div 
      class="story">
      <figure class="story__shape">
        <svg 
          *ngIf="rank < 5"
          class="profile__icon--lock">
          <use xlink:href="assets/img/icons/sprite.svg#icon-lock"></use>
        </svg>
        <img 
          *ngIf="rank >= 5"
          (click)="editProfilePic(2)" 
          src="assets/img/images/vader.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption 
          (click)="editProfilePic(2)" 
          *ngIf="rank >= 5"
          class="story__caption">Bug Vader</figcaption>
      </figure>
    </div>
  </div>
  <div class="profile__avatar-list">
    <div 
      class="story">
      <figure class="story__shape">
        <svg 
          *ngIf="rank < 6"
          class="profile__icon--lock">
          <use xlink:href="assets/img/icons/sprite.svg#icon-lock"></use>
        </svg>
        <img 
          *ngIf="rank >= 6"
          (click)="editProfilePic(3)" 
          src="assets/img/images/deathstar.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption 
          *ngIf="rank >= 6"
          (click)="editProfilePic(3)" 
          class="story__caption">The Bug Star</figcaption>
      </figure>
    </div>
    <div 
      class="story">
      <figure class="story__shape">
        <svg 
          *ngIf="!falcon_unlock"
          class="profile__icon--lock">
          <use xlink:href="assets/img/icons/sprite.svg#icon-lock"></use>
        </svg>
        <img 
          *ngIf="falcon_unlock"
          (click)="editProfilePic(4)" 
          src="assets/img/images/falcon.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption 
          *ngIf="falcon_unlock"
          (click)="editProfilePic(4)" 
          class="story__caption">Kessel Commander</figcaption>
      </figure>
    </div>
    <div 
      class="story">
      <figure class="story__shape">
        <svg 
          *ngIf="rank < 7"
          class="profile__icon--lock">
          <use xlink:href="assets/img/icons/sprite.svg#icon-lock"></use>
        </svg>
        <img 
          *ngIf="rank >= 7"
          (click)="editProfilePic(5)" 
          src="assets/img/images/r2d2.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption 
          *ngIf="rank >= 7"
          (click)="editProfilePic(5)" 
          class="story__caption">Hacker</figcaption>
      </figure>
    </div>
  </div>
  <div class="profile__avatar--list">
    <div 
      class="story story--single">
      <figure class="story__shape">
        <svg 
          *ngIf="!konamiMaster"
          class="profile__icon--lock">
          <use xlink:href="assets/img/icons/sprite.svg#icon-lock"></use>
        </svg>
        <img 
          *ngIf="konamiMaster"
          (click)="editProfilePic(6)" 
          src="assets/img/images/yoda.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption 
          *ngIf="konamiMaster"
          (click)="editProfilePic(6)" 
          class="story__caption">Grand Master</figcaption>
      </figure>
    </div>
  </div>
</div>

<div class="profile__avatar-list--container">
  <h2 class="profile__avatar-list--title">Admins</h2>
  <div class="profile__avatar-list">
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/solo.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Teaching Assistant</figcaption>
      </figure>
    </div>
    <div class="story">
      <figure class="story__shape">
        <img 
          src="assets/img/images/leia.png" 
          alt="person loving life" 
          class="story__img" />
        <figcaption class="story__caption">Instructor</figcaption>
      </figure>
    </div>
  </div>
</div>

<div *ngIf="showYoda" class="u-splash">
  <div class="profile__yoda">
    <svg 
      (click)="toggleYoda()"
      class="u-close-icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-x"></use>
    </svg>
    <div class="profile__avatar-list--container">
      <h2 class="profile__avatar-list--title">Master Yoda</h2>
      <img 
        class="profile__yoda--img"
        src="assets/img/yoda_portrait.jpg" alt="yoda">
      <div class="profile__yoda--quotes">
        <h4 class="profile__yoda--item">{{ rankData.wisdom }}</h4>
        <h4 class="profile__yoda--item">{{ rankData.hint }}</h4>
      </div>
    </div>
  </div>
</div>

