
<header class="header">
  <div class="header__title-box">
    <h1 class="header__title">Bug Bounty Hunter</h1>
    <img src="assets/img/images/target.png" alt="target" class="header__img">
  </div>
  <div 
    *ngIf="loggedIn"
    (click)="toggleFactions()"
    class="header__menu">
    <span class="header__menu--text">
      Standings
    </span>
    <svg class="header__menu--icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-info1"></use>
    </svg>
  </div>  
</header>

<nav 
  class="nav">

  <div 
    [routerLink]="['/bugs']" 
    routerLinkActive="active-link"
    routerLinkActiveOptions="{exact: true}"
    class="nav__link">
    <svg class="nav__icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-stack-overflow"></use>
    </svg>
    <span class="nav__text">Find Bugs</span>
  </div>
  <div 
    [routerLink]="['/new-bug']" 
    routerLinkActive="active-link"
    routerLinkActiveOptions="{exact: true}"
    class="nav__link">
    <svg class="nav__icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-bug"></use>
    </svg>
    <span class="nav__text">Submit Bug</span>
  </div>
  <div 
    [routerLink]="['/profile']" 
    routerLinkActive="active-link"
    routerLinkActiveOptions="{exact: true}"
    class="nav__link">
    <svg class="nav__icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-user-circle-o"></use>
    </svg>
    <span class="nav__text">View Profile</span>
  </div>
  <div 
    *ngIf="loggedIn"
    (click)="logout()" 
    class="nav__link">
    <svg class="nav__icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-exit"></use>
    </svg>
    <span class="nav__text">Logout</span>
  </div>
  <div 
    *ngIf="!loggedIn"
    [routerLink]="['/']" 
    routerLinkActive="active-link"
    routerLinkActiveOptions="{exact: true}"
    class="nav__link">
    <svg class="nav__icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-enter"></use>
    </svg>
    <span class="nav__text">Login</span>
  </div>
</nav>

<div *ngIf="showFactions" class="u-splash">
  <div class="profile__avatar--factions">
    <div class="profile__avatar-list--container">
      <svg 
        (click)="toggleFactions()"
        class="u-close-icon">
        <use xlink:href="assets/img/icons/sprite.svg#icon-x"></use>
      </svg>
      <h2 class="profile__avatar-list--title">Faction Standings</h2>
      <div class="profile__avatar-list">
        <div class="story">
          <figure class="story__shape">
            <img 
              src="assets/img/images/profile-11.png" 
              alt="person loving life" 
              class="story__img" />
            <figcaption class="story__caption">Rebel Alliance</figcaption>
          </figure>
          <p class="story__score">Bugs Posted: {{ rebels.bugs_posted }}</p>
          <p class="story__score">Bugs Answered: {{ rebels.bugs_answered }}</p>
        </div>
        <div class="story">
          <figure class="story__shape">
            <img 
              src="assets/img/images/profile-12.png" 
              alt="person loving life" 
              class="story__img" />
            <figcaption class="story__caption">Galactic Empire</figcaption>
          </figure>
          <p class="story__score">Bugs Posted: {{ empire.bugs_posted }}</p>
          <p class="story__score">Bugs Answered: {{ empire.bugs_answered }}</p>
        </div>
        <div class="story">
          <figure class="story__shape">
            <img 
              src="assets/img/images/profile-9.png" 
              alt="person loving life" 
              class="story__img" />
            <figcaption class="story__caption">Jedi Order</figcaption>
          </figure>
          <p class="story__score">Bugs Posted: {{ jedis.bugs_posted }}</p>
          <p class="story__score">Bugs Answered: {{ jedis.bugs_answered }}</p>
        </div>
      </div>
    </div>
</div>
</div>