
<header 
  class="header">
  <h1 class="header__title">Bug Bounty Hunter</h1>
  <img src="assets/img/target_50px.png" alt="target" class="header__img">
</header>
<nav 
  class="nav">

  <div 
    [routerLink]="['/bugs']" 
    routerLinkActive="active-link"
    routerLinkActiveOptions="{exact: true}"
    class="nav__link">
    <svg class="nav__icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-stack-overflow"></use>
    </svg>
    <span class="nav__text">Find Bugs</span>
  </div>
  <div 
    [routerLink]="['/new-bug']" 
    routerLinkActive="active-link"
    routerLinkActiveOptions="{exact: true}"
    class="nav__link">
    <svg class="nav__icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-bug"></use>
    </svg>
    <span class="nav__text">Submit Bug</span>
  </div>
  <div 
    [routerLink]="['/profile']" 
    routerLinkActive="active-link"
    routerLinkActiveOptions="{exact: true}"
    class="nav__link">
    <svg class="nav__icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-user-circle-o"></use>
    </svg>
    <span class="nav__text">View Profile</span>
  </div>
  <div 
    *ngIf="loggedIn"
    (click)="logout()" 
    class="nav__link">
    <svg class="nav__icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-exit"></use>
    </svg>
    <span class="nav__text">Logout</span>
  </div>
  <div 
    *ngIf="!loggedIn"
    [routerLink]="['/']" 
    routerLinkActive="active-link"
    routerLinkActiveOptions="{exact: true}"
    class="nav__link">
    <svg class="nav__icon">
      <use xlink:href="assets/img/icons/sprite.svg#icon-enter"></use>
    </svg>
    <span class="nav__text">Login</span>
  </div>
</nav>