<p>
  answer-create works!
</p>

<form 
  (submit)="onSubmitBug()" 
  class="form">

  <input 
    type="hidden" 
    [(ngModel)]="newAnswer.posted_by" 
    name="newAnswer.posted_by">

  <input 
    type="hidden" 
    [(ngModel)]="newAnswer.bug_id" 
    name="newAnswer.bug_id">

  <div class="form__row">
    <label for="content" class="form__label">Add Answer</label>
  </div>
  <div class="form__row">
    <textarea 
      [(ngModel)]="newAnswer.content"
      #traceback="ngModel"
      name="newAnswer.content"
      type="text" 
      class="form__input" 
      id="content"></textarea>
  </div>
  <button class="btn">Submit Answer</button>
</form>

{{ newAnswer | json }}