@font-face {
  font-family: Jedi;
  src: url('assets/font/STJEDISE.TTF');
}
 @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
:root {
  --color-dark: #393e46;
  --color-blue: #00ADB5;
  --color-yellow: #F8B500;
  --color-red: #FC3C3C;
  --color-black: #222;
  --color-off-white: #FFF4E0;
  --color-white: #eee;

  --border-radius: 5px;
  --margin-bottom: 3rem;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  background-color: var(--color-white);
  // background-color: #111;
}

body {
  font-size: 2rem;
  // color: #eee;
}

.hide {
  display: none;
}