.nav {
  z-index: 1000;
  position: fixed;
  top: 8rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: $color-dark-grey;

  &__icon {
    height: 2rem;
    width: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    fill: $color-white;
    margin-right: 1rem;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    font-size: 1.75rem;
    color: $color-white;
    width: 100%;
    
    padding: 1rem 0rem;

    &:active {
      outline: none;
      border: none;
    }
    &:hover {
      cursor: pointer;
      background-color: $color-red;
    }
  }
}

.active-link {
  background-color: $color-blue;
}