<h2 class="u-header--primary">Bugs Dashboard</h2>
<div class="search">
  <button class="search__btn">Live Search</button>
  <input 
    [(ngModel)]="searchText"
    type="text" 
    class="search__search-bar">
  <svg class="search__icon">
    <use xlink:href="assets/img/icons/sprite.svg#icon-search"></use>
  </svg>
</div>
<div *ngIf="bugs.length > 0" class="bugs">
  <div *ngFor="let bug of bugs | filter : searchText" class="bugs__item">
    <a href="/bugs/{{bug.bug_id}}" class="bugs__link">
      <h4 class="bugs__error">{{ bug.error }}</h4>
      <div class="bugs__info">
        <h6 class="bugs__created">{{ bug.bug_created | timeAgo }}</h6>
        <div class="bugs__info--row u-color-grey">
          <h6 class="bugs__info--item">Views: </h6>
          <h6 class="bugs__info--item">{{ bug.view_count }}</h6>
        </div>
        <div class="bugs__info--row u-color-grey">
          <h6 class="bugs__info--item u-color-grey">Answers:</h6>
          <h6 class="bugs__info--item u-color-grey">{{ bug.num_answers }} </h6>
        </div>
      </div>
    </a> 
  </div>
</div>
<div *ngIf="!bugs.length">
  This app has no bugs. Click 'Submit Bug' to create a new bug!
</div>
<button [routerLink]="['/new-bug']" class="profile__btn">
  <svg class="profile__btn--icon">
    <use xlink:href="assets/img/icons/sprite.svg#icon-bug"></use>
  </svg>
  <span class="profile__btn--text">Submit New Bug</span>
</button>